body {
  background-color: #262626;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 8px 8px 20px 8px;
  margin: 20px auto;
  background-color: #ababab;
  border-radius: 4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #c1c1c1;
  border-left: 2px solid #c1c1c1;
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.6);
}
#display {
  display: block;
  margin: 15px auto;
  height: 50px;
  width: 300px;
  padding: 0 10px;
  border-radius: 4px;
  border-top: 2px solid #c1c1c1;
  border-right: 2px solid #c1c1c1;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  background-color: #fff;
  box-shadow: inset 0px 0px 10px #030303;
  font-size: 28px;
  color: #000;
  text-align: right;
  font-weight: bold;
  font-family: Orbitron;
}
.button {
  display: inline-block;
  margin: 3px;
  width: 60px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Orbitron;
}
.mathButtons {
  margin: 2px 2px 6px 2px;
  color: #fff;
  text-shadow: -1px -1px 0px #44006f;
  background-color: #434343;
  border-top: 2px solid #c1c1c1;
  border-right: 2px solid #c1c1c1;
  border-bottom: 2px solid #181818;
  border-left: 2px solid #181818;
  box-shadow: 0px 0px 2px #030303;
}
.digits {
  color: #181818;
  text-shadow: 1px 1px 0px #fff;
  background-color: #ebebeb;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #c1c1c1;
  border-left: 2px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #030303;
}
.digits:hover,
.mathButtons:hover,
#clearButton:hover {
  background-color: #ffba75;
  box-shadow: 0px 0px 2px #ffba75, inset 0px -20px 1px #ff8000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #ae5700;
  border-left: 2px solid #ae5700;
}

#clearButton {
  color: #fff;
  text-shadow: -1px -1px 0px #44006f;
  background-color: #d20000;
  border-top: 2px solid #ff8484;
  border-right: 2px solid #ff8484;
  border-bottom: 2px solid #800000;
  border-left: 2px solid #800000;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #b00000;
}
